[user]
  name = Jonathan Ellithorpe
  email = jonathan@ours-tech.com
[rerere]
  enabled = true
[color]
  diff = auto
  branch = auto
  status = auto
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
